.modal {
  display: block;
  position: fixed;
  z-index: 2;
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.25);
}

.modal_content {
  background-color: white;
  /* position: absolute; */
  margin: auto;
  padding: 12px;
  border: 1px solid #888;
  border-radius: 16px;
  width: 360px;
}

.modal-popup-title {
  color: rgb(20, 75, 171);
  float: left;
  font-size: 28px;
  font-weight: bold;
  padding: 10px;
}

.modal-popup-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

.modal-popup-close:hover,
.modal-popup-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-popup-form-sub-content {
  margin: 0 auto;
  text-align: center;
  border-spacing: 15px;
}

.modal-popup-form-sub-content button {
  margin: 10px;
}

.ess-app-centre-align {
  vertical-align: middle;
  text-align: center;
  margin: auto;
  padding: 20px;
}

.ess-app-right-align {
  text-align: right;
  padding: 20px;
}

.eas-app-job-content {
  border: #666 solid 2px;
  border-radius: 6px;
  background-color: #eee;
  padding: 10px;
  margin: 10px;
}

.eas-inline-block {
  display: inline-block;
}

.eas-app-detail-table {
  background-color: #fff;
  border: 1px solid #666;
  border-radius: 16px;
  padding: 10px;
  width: 100%;
  text-align: left;
}

.inp-other-loc input {
  min-width: 400px;
}

.inp-page-num input {
  max-width: 40px;
}

.eas-app-detail-table-title {
  background-color: rgb(182, 201, 255);
  color: #000;
}

.eas-app-detail-table-value {
  color: #000;
}

.eas-selected-job {
  background-color: #0FB682;
  color: #fff;
}
