body {
  margin: 0px;
  /* background-color: #eee; */
}

.eas-app-header, .eas-app-footer {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.eas-app-header {
  top: 0;
  padding: 10px 16px;
  background-color: #124191;
  color: #fff;
  font-size: 2em;
  font-weight: 500;
  text-align: center;
}

.eas-app-footer {
  bottom: 0;
  padding: 25px 16px;
  background-color: #001235;
  color: #fff;
}

.eas-main-content {
  min-height: 450px;
  max-width: 1020px;
  /* max-width: 80%; */
  margin: 0 auto;
  background-color: #fff;
  padding: 100px 20px;
}
